<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>My Python web page</title>
    <!-- <LINK rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"> -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <! -- tag before the code and a -->
    <LINK rel="stylesheet" type="text/css" href="../static/style.css">

  </head>

  <body id="body">

    <div id="banner">

    </div>
    <div id="container">
        <h1>Pinter Counter</h1>
        <form action="/" method="POST">
            <label for="cars">Choose a car:</label>

            <select name="table" id="cars">
                {% for i in TABLES %}
                <option value='{{ i }}'>{{ i }}</option>
                {% endfor %}
            </select>

            <br><br>
            <input type="submit" id="sub" class="sub" value="Submit">
        </form>

		<table width="800px" style="table-layout:fixed;" class="gridtable">
			<tr>
				<th width="20px" >Name</th>
				<th width="50px" align="center">Model</th>
                <th width="30px" align="center">IP Address</th>
                <th width="30px" align="center">Supply Date</th>
                <th width="10px" align="center">Start Count</th>
                <th width="30px" align="center">Last Count</th>
                <th width="30px" align="center">Count</th>
                <th width="30px" align="center">Total Pages</th>
			</tr>
			{% for i in SCORES %}
			<tr>
				<td scope="row" id="name" title="{{ i[0] }}"> {{ i[0] }} </td>
				<td scope="row" id="model" align="center"> {{ i[1] }} </td>
                <td scope="row" id="address" align="center"> {{ i[2] }} </td>
                <td scope="row" id="sup_date" align="center"> {{ i[3] }} </td>
                <td scope="row" id="start_count" align="center"> {{ i[4] }} </td>
                <td scope="row" id="last_count" align="center"> {{ i[5] }} </td>
                <td scope="row" id="count" align="center"> {{ i[6] }} </td>
                <td scope="row" id="total" align="center"> {{ i[7] }} </td>
			</tr>
			{% endfor %}
		</table>
        <button id="add_new" onclick="window.location.href='/redirect'">Add new Printer</button>
		</div>


  <div>
      <h1>Hello</h1>
  </div>
  </body>
</html>